<html>
  <head><title></title></head>
  <body>
   <h1>Hello !</h1>
  <% if(value === 'Saturday' || value === 'Sunday' ) { %>
       <h2 style="color:purple">Today is <%= value %></h2>
  <% } else { %>
       <h2 style="color:blue">Today is <%= value %></h2>
  <% } %>
   
   
  </body>
  </html>